<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<targets>
		<!-- 统一控制台输出格式 -->
		<target name="console" xsi:type="Console"
				layout="${date:format=HH\:mm\:ss} ${level:uppercase=true} [${logger:shortName=true}] ${message}"/>

		<!-- 模块日志文件配置 -->
		<target name="moduleFile" xsi:type="File"
				fileName="${basedir}/logs/${logger}/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=ToString}"
				archiveFileName="${basedir}/logs/${logger}/archive/{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles="30"
				createDirs="true"/>

		<!-- 全局错误日志 -->
		<target name="globalErrorFile" xsi:type="File"
				fileName="${basedir}/logs/errors/error-${shortdate}.log"
				layout="${longdate} | ${level} | ${logger} | ${message} ${exception:format=ToString}"
				archiveEvery="Day"
				maxArchiveFiles="365"/>
	</targets>

	<rules>
		<!-- 控制台输出规则 -->
		<logger name="*" minlevel="Debug" writeTo="console" />

		<!-- 模块文件日志规则 -->
		<logger name="*" minlevel="Debug" writeTo="moduleFile" />

		<!-- 全局错误日志规则 -->
		<logger name="*" minlevel="Warn" writeTo="globalErrorFile" />
	</rules>
</nlog>