<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MES.DLL.Test.Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="token" value="E2E16E82-997A-424B-9924-B4816C1752E9" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="QueryWoPNCONFIG" value="209000111210,209000111208" />
  </appSettings>
  <connectionStrings>
	  <add name="svrURL" connectionString="http://10.10.36.93:8080/" />
  </connectionStrings>
  <applicationSettings>
    <MES.DLL.Test.Interface.Properties.Settings>
      <setting name="MES_DLL_Test_Interface_App_DLLSvc_App_DllSvc"
        serializeAs="String">
        <value>http://localhost:16351/WebService/App_DllSvc.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_EmployeePermission_EmployeePermission"
        serializeAs="String">
        <value>http://10.10.42.55:8082/SysManager/EmployeePermission/EmployeePermission.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_PairsSvr_Pair" serializeAs="String">
        <value>http://localhost:16351/WebService/WIP/Pair.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_PackingSvr_Packing" serializeAs="String">
        <value>http://localhost:16351/WebService/WIP/Packing.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_DataAnalysisInterface_DataAnalysisInterface"
        serializeAs="String">
        <value>http://10.10.32.50:8080/DataAnalysis/DataAnalysisInterface.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_VirtualSvr_Wip_Virtual_Check"
        serializeAs="String">
        <value>http://localhost:16351/webservice/Wip_Virtual_Check.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_VirtualSvr1_Wip_Virtual_Check"
        serializeAs="String">
        <value>http://localhost:16351/WebService/Wip_Virtual_Check.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_TestUpload_Test_Upload"
        serializeAs="String">
        <value>http://10.10.32.139:8099/WebService/Test_Upload.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_EeaAuto_EEAAutoMark" serializeAs="String">
        <value>http://localhost:16351/webservice/EEAAutoMark.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_InputService_Web_Wip_Input"
        serializeAs="String">
        <value>http://localhost:16351/webservice/WIP/Web_Wip_Input.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_Web_Wip_Hold_Web_Wip_Hold"
        serializeAs="String">
        <value>http://localhost:16351/WebService/WIP/Web_Wip_Hold.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_MarsScale_MarsScale" serializeAs="String">
        <value>http://localhost:16351/WebService/MarsScale.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_TestService_Wip_TestSvr"
        serializeAs="String">
        <value>http://localhost:16351/WebService/Wip_TestSvr.asmx</value>
      </setting>
      <setting name="MES_DLL_Test_Interface_BCC_BCC" serializeAs="String">
        <value>http://localhost:16351/webservice/WIP/BCC.asmx</value>
      </setting>
    </MES.DLL.Test.Interface.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>